<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>
<body>

    <nav th:replace="layouts::navbar"></nav>

        <h4>Current Projects</h4>
        <table>
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Stage</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each=" project : ${list}">
                    <td th:text="${project.name}"/>
                    <td th:text="${project.stage}"/>
                </tr>



            </tbody>


        </table>

        <h4>Current Employees</h4>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>

            </thead>
            <tbody>
                <tr th:each="employeeList:${listOfEmployees}">
                    <td th:text="${employeeList.firstName}">
                    <td th:text="${employeeList.lastName}"/>
                    <td th:text="${employeeList.email}"/>
                </tr>


            </tbody>


        </table>






</body>
</html>