<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:ui="http://www.w3.org/1999/xhtml">
<head th:fragment="header">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: white;">
    <a class="navbar-brand mb-0 h1" th:href="@{/}">IProject</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link active" th:href="@{/}">Home</a>
        <a class="nav-item nav-link" th:href="@{/projects}">Project</a>
        <a class="nav-item nav-link" th:href="@{/employees}">Employee</a>
    </div>
</nav>
</html>


